html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	zoom: 1;
}
article, aside, figure, footer, header, hgroup, nav, section {display: block;}
body {line-height: 1;font: 13px Helmet, Freesans, sans-serif;background: #fff;}
ol, ul {list-style: none;}
p {margin-bottom: 1.5em;padding-left:25px;padding-right:25px;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
a img { border: none; }
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
pre {white-space: pre;white-space: pre-wrap;white-space: pre-line; word-wrap: break-word;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
select, input, textarea {font: 99% sans-serif;}
a:hover, a:active {outline:0;}
a:focus {outline: thin dotted;}
small {font-size: 85%;}
strong, th {font-weight: bold;}
td, td img {vertical-align: top;} 
pre, code, kbd, samp {font-family: monospace, sans-serif;}
label, input[type=button], input[type=submit], button {cursor: pointer;}
button, input, select, textarea {margin: 0;}
ul ul, ol ol, ul ol, ol ul {margin-bottom: 0;margin-left: 1.5em;}
button,input,select,textarea {font-size: 100%;margin: 0;vertical-align: baseline; *vertical-align: middle; }
textarea {overflow: auto;padding-left: 3px;vertical-align: top;}